@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Libertinus+Keyboard&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Libertinus Keyboard", system-ui;
}
nav {
    height: 55px;
    background-color: rgb(165, 8, 8);
}
nav a {
    width: 80px;
    height: 25px;
    background-color: rgb(85, 21, 21);
    display: flex;
    color: white;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0;
    align-items: center;
    height: 60px;
}
.content {
    min-height: calc(100vh - 140px);
    display: flex;
}
main {
    background-color: rgb(231, 217, 217);
    flex: 3;
    padding: 20px;
}
aside {
    background-color: rgb(219, 163, 163);
    flex: 1;
    padding: 10px;
}
@media screen and (max-width:600px){
    .content{
        flex-direction: column;
    }
}